h1{
    color: rgb(125, 36, 39);
    background-color: rgba(193, 167, 180, 0.701);
}
body{
    background-color:rgb(201, 173, 163);
}
h3{
    color: brown;
}
#checking{
    border-bottom-color: blue;
    border: 1px solid black;
}

.box{
    height: 70px;
    width: 70px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: rgb(31, 134, 100) ;
}
#t{
    height: 70px;
    width: 70px;
    background-color: chartreuse;
    border-radius: 15px;
    font-size:large;
}
#mode{
    height: 50px; 
    width: 150px;
    border-radius: 10px;
    color: rgb(242, 237, 237);
    font-size: 20px;
    background-color: rgb(102, 38, 89);
    margin: 5px;
}
#alpha{
    background-color: rgb(41, 30, 82);
    text-align: center;
    height: 80px;
    font-size: 45px;
    color: whitesmoke;
    align-self: center;
    width: 750px;
    margin-left: 410px;
    margin-right: 440px;

}
