h1{
    color: rgb(125, 36, 39);
    background-color: rgba(193, 167, 180, 0.701);
}
body{
    background-color:rgb(201, 173, 163);
}





#g{
    position: fixed;
    background-color: rgb(246, 240, 244);
    font-size: 20px;
    height:50px;
    width:50px;
    border-radius: 50%;
    margin: 0px;
    text-align: center;
    align-items: center;
    
}
#inner{
    margin: 9px;
    margin-top: 15px;
    margin-left: 9px;
    font-size: 15px;
    
}







h3{
    color: brown;
}
#checking{
    border-bottom-color: blue;
    border: 1px solid black;
}

.box{
    height: 70px;
    width: 70px;
    border: 1px solid black;
    margin: 5px;
    text-align: center;
    background-color: rgb(31, 134, 100) ;
}
#t{
    height: 70px;
    width: 70px;
    background-color: chartreuse;
    border-radius: 15px;
    font-size:large;
}
#mode{
    height: 50px; 
    width: 150px;
    border-radius: 10px;
    color: rgb(242, 237, 237);
    font-size: 20px;
    background-color: rgb(102, 38, 89);
    margin: 5px;
}
#alpha{
    background-color: rgb(41, 30, 82);
    text-align: center;
    height: 80px;
    font-size: 45px;
    color: whitesmoke;
    align-self: center;
    width: 750px;
    margin-left: 410px;
    margin-right: 440px;

}

#loader{
    height:100px;
    width:100px;
    
    border-radius: 50%;
    border: 13px solid yellow;
    border-top: 13px solid rgb(54, 169, 54);
    background-color: white;
    animation: loader 1.5s linear 1s infinite ;
    
}
@keyframes loader{
    from{transform:rotate(0deg);}
    to{transform: rotate(360deg);}
}


#boxy2{
    height:150px;
    width:150px;
    border-radius: 50%;
    border-color: solid black;
    background-color: rgb(78, 40, 216);
    border: 5px solid red;
    animation-name: coloranimate;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}
@keyframes coloranimate{
    from{background-color:white;}
    to{background-color: black;}
}